[data-view="action-bar"] {
    display: flex;
}

[data-view="action-bar"] > .title {
    box-sizing: border-box;
    color: rgba(255,255,255,0.87);
    flex-grow: 1;
    padding-left: 32px;
}

[data-view="action-bar"] > .title select {
    background: transparent;
    border: none;
    border-radius: 9px;
    color: rgba(255,255,255,0.87);
    font-size: 18px;
    min-width: 150px;
    outline: none;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
}

/* Change the <option> Element text color in Firefox to not be inherited from the parent <select>. */
[data-view="action-bar"] > .title select > option {
    color: #333;
}

[data-view="action-bar"] > * {
    display: inline-block;
}

[data-view="action-bar"] > .menu_items {
    display: flex;
    margin-right: 24px;
}

[data-view="action-bar"] > .menu_items > .menu_item {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 48px;
    padding: 12px 12px;
    user-select: none;
    width: 48px;
    vertical-align: middle;
}

[data-view="action-bar"] > .menu_items > .menu_item > svg {
    fill: #fff;
    margin-top: 12px;
}
