.toast {
    background-color: #323232;
    border-radius: 2px;
    bottom: 24px;
    box-shadow: var(--box-shadow-depth-1);
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    left: 24px;
    max-width: 568px;
    min-width: 288px;
    opacity: 0;
    padding: 14px 24px;
    position: fixed;
    transform: translateY(72px);
    transition: opacity 245ms ease, transform 245ms cubic-bezier(0,.68,.32,.99);
    will-change: opacity, transform;
    z-index: 9999;
}

.toast.show {
    opacity: 1;
    transform: translateY(0px);
}
