<style type="text/css">
    :root {
        --box-shadow-depth-1: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
        --box-shadow-depth-2: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    }

    .alert-dialog-container {
        background-color: rgba(0,0,0,0.54);
        contain: paint size;
        height: 100%;
        left: 0px;
        position: fixed;
        top: 0px;
        width: 100%;
    }

    .alert-dialog {
        background-color: #fff;
        border-radius: 3px;
        box-shadow: var(--box-shadow-depth-2);
        left: calc(50% - 32%);
        max-height: 80%;
        max-width: 65%;
        min-width: 450px;
        overflow: auto;
        position: absolute;
        top: 10%;
        transform: translateY(15px);
    }

    .alert-dialog-container,
    .alert-dialog {
        opacity: 0;
        transition: opacity 150ms cubic-bezier(0,.68,.32,.99), transform 225ms cubic-bezier(0,.68,.32,.99);
        will-change: opacity, transform;
    }

    .alert-dialog-container.show,
    .alert-dialog.show {
        opacity: 1;
    }

    .alert-dialog.show {
        transform: translateY(0px);
    }

    .alert-dialog .title {
        font-size: 20px;
        font-weight: bold;
        padding: 12px 16px;
    }

    .alert-dialog .message {
        padding: 0 16px 6px 16px;
    }

    .alert-dialog ul.buttons-container {
        margin: 0;
        padding: 0 0 4px 0;
        text-align: right;
    }

    .alert-dialog ul.buttons-container > li {
        cursor: pointer;
        display: inline-block;
        padding: 12px 18px;
    }
</style>

<template data-default>
    <section class="alert-dialog-container">
        <section class="alert-dialog" data-view="AlertDialog">
            <div class="title"></div>
            <div class="message"></div>
            <ul class="buttons-container"></ul>
        </section>
    </section>
</template>
